<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
  <script src="node_modules/angular/angular.js" defer></script>
  <script src="node_modules/@uirouter/angularjs/release/angular-ui-router.js" defer></script>
  <script src="src/config.js" defer></script>
  <script src="src/settings/settings.js" defer></script>
  <script src="src/tasks/tasksService.js" defer></script>
  <script src="src/tasks/tasks.js" defer></script>
  <script src="src/users/userService.js" defer></script>
  <script src="src/users/users.js" defer></script>
  <script src="src/users/auth.js" defer></script>
  <script src="src/index.js" defer></script>
</head>

<body ng-controller="AuthControl">
  <div ng-controller="AppControl">
    <div ng-include="'./templates/nav.html'"></div>
    <div ng-if="!authStatus" ng-include="'./templates/loginPage.html'"></div>


    <ui-view></ui-view>

    <div ng-if="authStatus" ng-include="appScope.currentPage.url">
    </div>

</body>

</html>