<nav class="navbar navbar-light bg-dark">
  <div class=" d-flex align-items-center ">
    <p class="h1 text-white ">AngularApp</p>
    <div ng-repeat="page in appScope.pages">
      <button class="btn btn-sm btn-outline-secondary m-2" ng-click="appScope.goToPage(page.name)" type="button">{{page.label}}</button>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <p class="h5 text-white m-2"> {{authStatus? ('Welcome ' + authUser.name): ''}}</p>
    <div ng-if="!authStatus">
      <button type="button" class="btn btn-sm btn-outline-secondary m-2" ng-click="loginUser(singInEmail)">Sign In</button>
      <input type="text" placeholder="Emial" ng-model="singInEmail">
    </div>
    <div ng-if="authStatus">
      <button type="button" class="btn btn-sm btn-outline-secondary m-2" ng-click="logout()">Sign Out</button>
    </div>
  </div>
  </div>
</nav>

<div ng-if="authMessage.status === 'signIn' || authMessage.status === 'signOut' " class="alert alert-success" role="alert">{{authMessage.message}}</div>
<div ng-if="authMessage.status === 'badEmial' " class="alert alert-danger" role="alert">{{authMessage.message}}</div>

