<div class="container" ng-controller="SettingsControl">
    <input type="text" ng-model="number">
    <app-alert message="Bad Number 1" type="warning" on-dissmis="number = 1">
        Problem z liczbą {{number}}
    </app-alert>
    <app-alert message="Bad Number 2" type="danger" on-dissmis="number = 2"></app-alert>
    <app-alert message="Bad Number 3" type="success" on-dissmis="number = 3"></app-alert>

    <task-page></task-page>

</div>