<div class="container" ng-controller="TaskControl">
    <div class="row">
        <div class="col">
            <div class="row m-2 ">
                <label>Name: <input ng-keypress="addTaskEnter($event)" type="text" ng-model="newTaskName"></label>
                <button type="button" class="btn btn-warning m-2" ng-click="addTask()">Add new task</button>
            </div>
            <div class="row m-2">
                <label>Find: <input type="text" ng-model="findtask" ng-change="taskFilter(findtask)"></label>
            </div>
            <div class="row ">
                <div class="list-group ">
                    <div class="list-group-item d-flex" ng-click='selectTask(item.id)'
                        ng-class="{'bg-warning': item.id === task.id}" ng-repeat='item in tasks track by $index' n
                        g-style="item.completed === true ? {'text-decoration':'line-through'}:{}">
                        <p class="m-2">Index:
                            {{$index}} </p>
                        <p class="m-2">Name:
                            {{item.name}} </p>
                        <p class="m-2">Completed:
                            {{item.completed ? 'Yes' : 'No' }} </p>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col mb-4 mt-2">
                    <dl>
                        <dt>Name:</dt>
                        <dd>{{task.name}}</dd>
                        <dt>Completed:</dt>
                        <dd>{{task.completed ? 'Yes' : 'No' }}</dd>
                    </dl>
                </div>
                <div class="col">
                    <form ng-if="editName !== 'Edit'" class="mt-3">
                        <div class="form-group">
                            <label for="task_name"> <input ng-model="draft.name" type="text" id="task_name"></label>
                        </div>
                        <div class="form-group">
                            <label for="task_complited"> <input ng-model="draft.completed" type="checkbox"
                                    id="task_complited">Complited</label>
                        </div>
                        <div>
                            <button type="button" class="btn btn-dark" ng-click="saveTask()">Save</button>
                            <button type="button" class="btn btn-dark" ng-click="clearTask()">Clear</button>
                            <button type="button" class="btn btn-danger" ng-click="deleteTask()">Delete</button>
                        </div>
                    </form>
                </div>
                <button class="btn btn-warning m-2" ng-click="editTask()">{{editName}}</button>
                <div class="m-2">
                    <p>Count complited tasks: {{countTask}}</p>
                </div>
            </div>
        </div>
    </div>

</div>