<div>
    <user-page></user-page>
</div>



<!-- <div ng-controller="UsersControl">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="m-2">Users:</h2>
                <div class="list-group">
                    <div class="
                            list-group-item
                            d-flex
                            justify-content-center
                            align-items-center
                        " ng-click="findUserByID(item.id)" ng-class="{'bg-warning': item.id === user.id}"
                        ng-repeat="item in users track by $index">
                        <p class="">{{item.name}}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <h2 class="m-2">Details:</h2>
                <p>Email: {{user.email}}</p>
                <p>Name: {{user.name}}</p>
                <p>Admin: {{user.admin}}</p>
                <button type="button" ng-click="editUser()"
                    ng-class="{disabled: !authUser.admin || item.id === user.id }" class="btn btn-warning">
                    {{editUserStatus? 'Cancel':'Edit'}}
                </button>
            </div>
            <div ng-if="editUserStatus" class="col">
                <h2 class="m-2">Change data:</h2>
                <form name="form">
                    <div class="form group">
                        <input class="m-2" name="email" type="email" placeholder="New email"
                            ng-model="editUserData.email" required />
                        <p class="text-danger" ng-if="form['email'].$error.required">
                            Email is required !
                        </p>
                        <p class="text-danger" ng-if="form['email'].$error.email">
                            Email is bad !
                        </p>
                    </div>
                    <div class="form group">
                        <input class="m-2" type="text" name="name" minlength="5" placeholder="New name"
                            ng-model="editUserData.name" required />
                        <p class="text-danger" ng-if="form['name'].$error.required">
                            Name is required !
                        </p>
                        <p class="text-danger" ng-if="form['name'].$error.minlength">
                            Name is too small !
                        </p>
                    </div>
                    <div class="form group">
                        <label class="m-2">Admin:
                            <input type="checkbox" ng-model="editUserData.admin" /></label>
                    </div>
                    <button type="button" ng-click="saveNewUserDat(user.id)" class="btn btn-warning">
                        Save
                    </button>
                </form>
            </div>
        </div>
        <hr class="mt-2 mb-3" />
    </div>

    <div ng-repeat="childPage in appScope.currentPage.child">
        <div ng-include="childPage.url"></div>
    </div>
</div> -->